<% include partials/header.ejs %>

<div class="final-bg"></div>
<div class="main">
  <div class="header">
    <div class="nav">
      <div class="nav-left">
        <a href=""><i class="fas fa-home"></i></a>
      </div>
      <div class="nav-right">
        <a href=""><i class="fas fa-envelope"></i></a>
      </div>
    </div>
    <img src="/img/logo.jpg" alt="" class="logo">
    <h1 class="title">Creative Juice</h1>
  </div>
  <div class="rule"></div>
  <div class="snail-box">
    <h1 class="snail-text">A creative block <br> . . .</h1>
    <img src="/img/snail.svg" alt="" id="snail">
    <div class="slime"></div>
  </div>
  <div class="text-bg">
    <p class="find">FIND</p>
    <p>YOUR</p>
    <p>GR<span><img src="img/gear1.svg" alt="" class="gear-fake"></span>OVE</p>
    <span class="gear-shadow">
      <div class="trail"></div>
      <img src="img/gear1.svg" alt="" class="gear-one">
      <div class="gear-group">
        <img class="g1" src="img/gear2.svg" alt="">
        <img class="g2" src="img/gear3.svg" alt="">
        <img class="g3" src="img/gear5.svg" alt="">
        <img class="g4" src="img/gear2.svg" alt="">
        <img class="g5" src="img/gear4.svg" alt="">
      </div>
    </span>
  </div>
  <div class="info">
    <div class="text-block">
      <div class="rule"></div>
      <h1 class="wake">Grab a cup of Juice.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus semper lectus, id malesuada velit fermentum in. Aenean ac eros egestas, consectetur sem at, gravida lectus. Duis venenatis id urna id porta. Cras finibus rutrum nibh, eget pellentesque urna tempor id.</p>
    </div>
    <div class="pictures">
      <div class="coffee">
        <a href="https://unsplash.com/@eilivaceron">
          <img src="img/hotcoffee.jpg" alt="">
          <div class="over"></div>
          <h2>@eilivaceron</h2>
          <!-- https://unsplash.com/@eilivaceron -->
        </a>
      </div>
      <div class="beer">
        <a href="https://unsplash.com/@s3th">
          <img src="img/coldbeer.jpg" alt="">
          <div class="over"></div>
          <h2>@s3th</h2>
          <!-- https://unsplash.com/@s3th -->
        </a>
      </div>
    </div>
    <div class="rule"></div>
  </div>
</div>


<% include partials/footer.ejs %>
